/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.dark.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

.bg-texture {
    background-image: url("~/assets/mainbg.jpg");
    background-repeat: repeat;
    background-size: 50px;
}

.bg-black {
    background-color: black;
}

.bg-texture-button {
    background-image: url("~/assets/bg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.list-group{
    display: flex;
    flex-direction: row;
    border: 3px solid red;
}

.button-img{
    z-index: 123;
}

.button-text {
    z-index: 125;
    color: white;
    text-align: center;
    width: 90%;
    position: absolute;
    /*bottom: 0;*/
    left: 5%;
    top: 140%;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.4);
    border-bottom: 2px solid rgba(0,0,0,0.7);
}

.button-con{

}
