
<Page class="page">
    <TabView id="tabViewContainer" tabBackgroundColor="#121212" selectedTabTextColor="#ffffff" tabTextColor="#aaa" androidSelectedTabHighlightColor="#fff">
        <StackLayout *tabItem="{title: 'Sounds'}" class="bg-texture">
            <StackLayout>
                <TabView id="tabViewContainerInner" tabBackgroundColor="#121212" selectedTabTextColor="#ffffff" tabTextColor="#aaa" androidSelectedTabHighlightColor="#fff">
                    <StackLayout *tabItem="{title: 'Carvings'}">
                        <StackLayout>
                            <ScrollView>
                                <WrapLayout>
                                    <AbsoluteLayout *ngFor="let x of carvings"  width="50%" height="170" class="button-con">
                                        <Button (tap)="onItemTap(x.url)" class="bg-texture-button" width="90%" height="90%" style="margin: 5%">
                                        </Button>
                                        <Image [src]="'~/'+x.image" stretch="aspectFit" class="button-img"  width="90%" height="90%" style="margin: 0 5% 10%;"></Image>
                                        <label class="button-text" [text]="x.name"></label>
                                    </AbsoluteLayout>
                                </WrapLayout>
                            </ScrollView>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout *tabItem="{title: 'Dialogues'}">
                        <StackLayout>
                            <Label text="Second Tab" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout *tabItem="{title: 'Other'}">
                        <StackLayout>
                            <Label text="Second Tab" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
                        </StackLayout>
                    </StackLayout>
                </TabView>
            </StackLayout>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Gestures'}" class="bg-texture">
            <StackLayout>
                <Label text="Second Tab" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
            </StackLayout>
        </StackLayout>
    </TabView>
</Page>
